$colorBackInput: #222;

.home {
  color: #fff;

  .backgroundImage {
    background-color: $colorBackInput;;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background: #aa1ecd;
  border-radius: 50px;
  box-shadow: 0 0 5px 5px #aa1ecd;
}